{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
  <div class="h-screen ">
    <section id="1" class="">
      <h1>Edit article {{article.id}} </h1>
      <form action="{{path('articles_update', {articleId: article.id})}}" method="post">
        <input type="text" name="title" placeholder="title"  value="{{article.title}}">
        <input type="number" name="price" placeholder="price" value={{article.price}}>
        <button type="submit">Save</button>
      </form>
    </section>

  </div>

{% endblock %}
